<script setup lang="ts">
    import { ref, defineAsyncComponent } from 'vue';
    import TimerVue from '../Timer.vue'; 

    type IconName = "ArrowLeft" | "ArrowRight" | "Classmates" | "Cross" | "GooglePlus" | "Pencil" | "Question" | "VK";
    type Kind = "primary" | "secondary" | "warning" | "info" | "danger" | "action" | "question" | "custom";
    type Type = "standart" | "icon" | "timer";
    type Tag = "button" | "a";
    type Props = {
        kind?: Kind,
        disabled?: boolean,
        type?: Type,
        tag?: Tag,
        timerIntervalMs?: number,
        iconName?: IconName
    }

    const props = withDefaults(defineProps<Props>(), {
        kind: "primary",
        disabled: false,
        type: "standart",
        tag: "button",
        timerIntervalMs: 0,
        iconName: "Cross"
    })

    const IconComponent = props.type === "icon" && props.iconName
        ? defineAsyncComponent(() => import(`./icons/${props.iconName}.vue`))
        : null;

    let whetherToDisable = ref(false);
</script>

<template>
    <component :is="props.tag" :class="`${props.tag} ${props.kind} ${props.type}`" :disabled="props.disabled || whetherToDisable">
        <template v-if="props.type !== 'icon'">
            <slot></slot>
        </template>
        <template v-if="IconComponent">
            <IconComponent />
        </template>
        <TimerVue
            v-if="props.type === 'timer'"
            :timer-interval-ms="props.timerIntervalMs"
            @on-start-or-end="(whetherTo) => whetherToDisable = whetherTo"
        />
    </component>
</template>

<style scoped>
    .button, .a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        column-gap: 5px;
    }
    .a {
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        text-decoration: none;
        color: #000;
    }
    .a:hover {
        text-decoration-line: underline;
        color: #767679;
    }
    .a:focus {
        text-decoration-line: underline;
        color: #C4296C;
    }
    .button {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        position: relative;
    }
    .button::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: skewX(4deg);
        border-radius: 20px;
    }
    .button {
        background-color: transparent;
        border: none;
        text-transform: uppercase;
        cursor: pointer;

        will-change: opacity;
        transition: opacity 0.2s ease-in-out;
    }
    .button:hover {
        opacity: 0.8;
    }

    .button.standart,
    .button.timer {
        padding: 14px 46px;
    }

    .button.primary::before {
        background-color: #702C7E;
    }
    .button.secondary::before {
        background-color: #C4296C;
    }
    .button.warning::before {
        background-color: #F4BA46;
    }
    .button.question::before {
        background-color: #6DD1B0;
    }
    .button.info::before {
        background-color: #0083B6;
    }
    .button.danger::before {
        background-color: #DF3F3E;
    }
    .button.action::before {
        background-color: #ED732E;
    }
    .button:disabled {
        color: #767679;
        cursor: not-allowed;
        opacity: 1;
    }
    .button:disabled::before {
        background-color: #EFEFEF;
    }

    .button.icon {
        padding: 15px;
    }
    .button.icon::before {
        border-radius: 20px 20px 25px 22px;
        transform: none;
    }
    .button.icon > :global(svg) {
        max-width: 30px;
        max-height: 30px;
        min-width: 30px;
        min-height: 30px;
    }

    @media screen and (max-width: 640px) {
        .button.icon > :global(svg) {
            min-height: 24px;
            max-height: 24px;
            max-width: 24px;
            min-width: 24px;
        }
    }
</style>