<script setup lang="ts">
    import { onMounted, onUnmounted, ref, computed } from 'vue';

    const props = withDefaults(defineProps<{ timerIntervalMs: number }>(), {
        timerIntervalMs: 0
    })

    const emit = defineEmits<{(e: 'onStartOrEnd', whetherToShowTimer: boolean): void}>();

    const MS_IN_HOUR = 1000 * 60 * 60;
    const MS_IN_MIN = 1000 * 60;
    let timeRemainedMs = ref(props.timerIntervalMs);
    let interval: ReturnType<typeof setInterval>;
    
    function chooseTimeDisplayFormat(time: number) {
        return time > 9 ? `${time}` : `0${time}`;
    }

    function changeTimeFormat(timeMs: number) {
        const hours = Math.floor(timeMs / MS_IN_HOUR);
        const minutes = Math.floor((timeMs - hours * MS_IN_HOUR) / MS_IN_MIN);
        const seconds = Math.floor((timeMs - (minutes * MS_IN_MIN + hours * MS_IN_HOUR)) / 1000);

        const hoursFormatted = chooseTimeDisplayFormat(hours);
        const minutesFormatted = chooseTimeDisplayFormat(minutes);
        const secondsFormatted = chooseTimeDisplayFormat(seconds);

        return `${hours ? hoursFormatted + ':' : ''}${minutesFormatted}:${secondsFormatted}`;
    }

    const timeToDisplay = computed(() => changeTimeFormat(timeRemainedMs.value));

    onMounted(() => {
        if(props.timerIntervalMs > 0 && !interval) {
            interval = setInterval(() => {
                timeRemainedMs.value -= 1000;
                if (timeRemainedMs.value <= 0) {
                    emit('onStartOrEnd', false);
                    clearInterval(interval);
                }
            }, 1000);
            emit('onStartOrEnd', true);
        }
    })
    onUnmounted(() => {
        if(interval) {
            clearInterval(interval);
            emit('onStartOrEnd', false);
        }
    })
</script>

<template>
    <div v-if="timeRemainedMs > 0" class="timer">
        {{ timeToDisplay }}
    </div>
</template>

<style scoped>
    .timer {
        padding: 5px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        position: relative;
    }
    .timer::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        transform: skewX(4deg);
        background-color: #DF3F3E;
        border-radius: 14px;
    }
</style>