<script setup lang="ts">
  import ButtonVue from './components/Button/Button.vue';
</script>

<template>
  <div style="display: flex; column-gap: 20px;">
    <div class="btn-wrapper">
      <ButtonVue :tag="'a'" href="https://www.google.com/">
        Напомнить PIN-код
      </ButtonVue>
    </div>
    <div class="btn-wrapper">
      <ButtonVue :kind="'secondary'" :type="'icon'" :icon-name="'ArrowLeft'" />
      <ButtonVue :kind="'danger'" :type="'icon'" :icon-name="'Cross'" />
      <ButtonVue :kind="'question'" :type="'icon'" :icon-name="'Question'" />
      <ButtonVue :kind="'secondary'" :type="'icon'" :icon-name="'ArrowRight'" />
      <ButtonVue :kind="'danger'" :type="'icon'" :icon-name="'GooglePlus'" />
      <ButtonVue :kind="'info'" :type="'icon'" :icon-name="'VK'" />
      <ButtonVue :kind="'action'" :type="'icon'" :icon-name="'Classmates'" />
      <ButtonVue :kind="'secondary'" :type="'icon'" :icon-name="'Pencil'" />
    </div>

    <div class="btn-wrapper">
      <ButtonVue>
        Отправить письмо
      </ButtonVue>
      <ButtonVue :kind="'secondary'" >
        Отправить письмо
      </ButtonVue>
      <ButtonVue :kind="'warning'" >
        Отправить письмо
      </ButtonVue>
      <ButtonVue :disabled="true" >
        Отправить письмо
      </ButtonVue>
      <ButtonVue :kind="'info'" >
        Отправить письмо
      </ButtonVue>
      <ButtonVue :kind="'danger'">
        Отправить письмо
      </ButtonVue>
      <ButtonVue :kind="'action'">
        Отправить письмо
      </ButtonVue>
    </div>

    <div class="btn-wrapper">
      <ButtonVue :type="'timer'" :timer-interval-ms="1000 * 5">
        Отправить письмо
      </ButtonVue>
    </div>
  </div>
</template>

<style scoped>
  .btn-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
</style>