<template>
    <svg viewBox="0 0 30 30" fill="none">
        <g fill="#fff" clip-path="url(#a)">
            <path d="M20.1 14.71c-.6-.78-1.38-1.54-2.03-1.64-.65-.1-1.07.13-1.97 1-.5.48-5.86 5.84-6.12 6.29-.26.44-.32.88-.05 1.36a5.17 5.17 0 0 0 1.8 1.75c.6.28 1.09.37 1.98-.43.7-.63 6.03-5.95 6.54-6.88.29-.51.18-1.03-.14-1.45Z"/>
            <path d="M19.19 17.2c.78-.62 1.54-1.4 1.64-2.05.1-.65-.13-1.07-1-1.97-.48-.5-6.24-6.27-6.68-6.52-.44-.26-.88-.33-1.36-.05a5.17 5.17 0 0 0-1.75 1.8c-.28.6-.38 1.09.43 1.98.68.76 6.37 6.45 7.27 6.95.52.28 1.03.17 1.45-.15Z"/>
        </g>
        <defs>
            <clipPath id="a">
                <path fill="#fff" d="M9.62 6.25h11.25v17.5H9.62z"/>
            </clipPath>
        </defs>
    </svg>
</template>