<template>
    <svg viewBox="0 0 30 30" fill="none"><g fill="#fff" clip-path="url(#a)"><path d="M6.37 13.79c-.12.98-.11 2.07.27 2.6.38.52.82.67 2.05.69.66.01 14.6.01 15.08-.12.48-.13.83-.4.97-.92.13-.52.23-1.72-.04-2.52-.2-.62-.48-1.03-1.65-1.1-.92-.05-14.8-.05-15.8.24-.54.16-.82.6-.88 1.13Z"/><path d="M5.72 15.2c.6.79 1.35 1.55 1.98 1.65.63.1 1.04-.13 1.92-1 .48-.48 5.7-5.84 5.95-6.29.25-.44.31-.88.04-1.36a5.1 5.1 0 0 0-1.75-1.74c-.58-.29-1.05-.38-1.92.42-.69.63-5.86 5.95-6.36 6.88-.28.52-.18 1.03.14 1.45Z"/><path d="M6.61 12.73c-.76.61-1.5 1.39-1.59 2.04-.1.65.12 1.07.97 1.97.47.5 6.06 6.27 6.5 6.52.43.26.86.33 1.32.05a5.1 5.1 0 0 0 1.7-1.8c.27-.6.36-1.09-.42-1.98-.66-.76-6.2-6.45-7.07-6.95-.5-.28-1-.17-1.4.15Z"/></g><defs><clipPath id="a"><path fill="#fff" d="M5 6.25h20v17.5H5z"/></clipPath></defs></svg>
</template>