<template>
    <svg viewBox="0 0 30 30" fill="none">
        <path fill="#fff" d="M24.7 16.11c-.47-.85-1.78-1.57-3.53-.36C18.8 17.46 17.47 17 15 17c-2.47 0-3.8.47-6.17-1.24-1.75-1.21-3.06-.5-3.53.36-.83 1.5.1 2.24 2.21 3.45 1.23.71 2.76 1.12 4.12 1.36.67.11.95.97.44 1.43-1.9 1.7-3.72 3.33-4.97 4.47a1.6 1.6 0 0 0 0 2.43l.23.24c.75.68 1.98.68 2.73 0l4.07-3.68a1.3 1.3 0 0 1 1.74-.01c1.59 1.41 3.05 2.73 4.12 3.7.75.67 1.96.67 2.73 0l.21-.25c.77-.64.77-1.74 0-2.43l-4.95-4.47c-.5-.46-.22-1.32.46-1.44 1.33-.24 2.84-.65 4.05-1.35 2.1-1.21 3.04-1.95 2.2-3.45ZM15 3.86c2.26 0 4.16 1.68 4.16 3.73 0 2.07-1.9 3.74-4.16 3.74-2.26 0-4.16-1.67-4.16-3.74 0-2.05 1.9-3.73 4.16-3.73Zm0 11.32c4.66 0 8.42-3.33 8.42-7.59C23.42 3.34 19.58 0 15 0S6.58 3.4 6.58 7.6c0 4.2 3.76 7.58 8.42 7.58Z"/>
    </svg>
</template>