<template>
    <svg fill="none" viewBox="0 0 37 37"><path fill="#fff" d="M27.81 27.8c-.7.7-1.44 1.06-2.2 1.06a3.3 3.3 0 0 1-2.22-1.1l-4.74-4.74-4.63 4.64a3.16 3.16 0 0 1-2.12 1.06c-.7 0-1.4-.35-2.09-1.03-.68-.68-1.02-1.38-1.02-2.09.02-.73.38-1.43 1.06-2.12l4.63-4.63-4.56-4.56c-.7-.7-1.06-1.44-1.06-2.2 0-.75.37-1.49 1.1-2.22.7-.7 1.42-1.05 2.15-1.02.76 0 1.49.35 2.2 1.06l4.56 4.56 4.63-4.63c.68-.69 1.38-1.03 2.08-1.03.73-.02 1.44.3 2.12 1 .69.67 1.02 1.38 1 2.11 0 .7-.35 1.4-1.03 2.09l-4.63 4.63 4.73 4.74a3.3 3.3 0 0 1 1.1 2.22c.02.74-.33 1.47-1.06 2.2Z"/></svg>
</template>