<template>
    <svg viewBox="0 0 30 30" fill="none">
        <path fill="#fff" d="M10.39 13.57a1 1 0 0 0-1 1v1.45c0 .53.43.97.97.98h3.17c.64.01 1.05.62.74 1.18-1.81 3.31-5.7 4.01-8.28 1.51-2.94-2.42-2.73-7.34.33-9.59a5.29 5.29 0 0 1 6.25-.46c.43.24.98.21 1.32-.14.39-.42.77-.84 1.14-1.27a.93.93 0 0 0-.13-1.36A8.7 8.7 0 0 0 9.4 5C4.56 4.84.1 9.35.02 14.5A10.05 10.05 0 0 0 6 24.33c3.66 1.5 8.35.48 10.7-3.02 1.36-1.96 1.77-4.41 1.73-6.8a.96.96 0 0 0-.97-.94h-7.06ZM24.74 18.22c-.32 0-.57-.08-.74-.25a1.05 1.05 0 0 1-.25-.76v-2.14h-2.1c-.3 0-.55-.08-.72-.24-.16-.16-.24-.4-.24-.7 0-.31.08-.55.24-.7.17-.17.41-.25.72-.25h2.1v-2.06c0-.32.08-.57.25-.74.17-.17.42-.25.75-.25.32 0 .56.08.72.25.18.17.26.42.26.74v2.06h2.1c.3 0 .54.08.7.24.17.16.26.4.26.7 0 .32-.09.55-.26.71-.16.16-.4.24-.7.24h-2.1v2.14c0 .32-.08.58-.26.76-.16.17-.4.25-.73.25Z"/>
    </svg>
</template>