<template>
    <svg viewBox="0 0 30 30" fill="none"><path fill="#fff" d="M22.7 18.54c.33-.3.83-.19.87.18l.69 6.4c.03.34-.36.65-.72.57l-6.3-1.35c-.36-.08-.44-.5-.14-.76l5.6-5.04ZM7.08 9.13a1 1 0 0 1 1.4.07l9.65 10.71a1 1 0 0 1-.07 1.41l-1.38 1.24a1 1 0 0 1-1.41-.07L5.63 11.78a1 1 0 0 1 .07-1.41l1.38-1.24ZM10.9 5.69a1 1 0 0 1 1.4.07l9.65 10.71a1 1 0 0 1-.08 1.42l-1.37 1.24a1 1 0 0 1-1.41-.08L9.44 8.35a1 1 0 0 1 .08-1.42l1.37-1.24ZM10.2 4.93a1 1 0 0 0 .08-1.42l-.72-.8a1 1 0 0 0-1.41-.07l-5.2 4.68a1 1 0 0 0-.07 1.4l.72.8a1 1 0 0 0 1.41.08l5.2-4.67Z"/></svg>
</template>