<template>
    <svg viewBox="0 0 30 30" fill="none">
        <path fill="#fff" d="M11.5 18.82a1.87 1.87 0 0 1-1.18-1.08c-.2-.5-.18-1.07.05-1.7.22-.61.5-1.15.82-1.62.35-.48.78-.93 1.29-1.33.53-.42 1.17-.8 1.9-1.15.5-.25.91-.48 1.22-.7.34-.21.6-.43.77-.64.2-.24.33-.5.43-.76.2-.52.14-.99-.14-1.4a3.04 3.04 0 0 0-1.51-1 8.37 8.37 0 0 0-4.2-.46c-.81.11-1.45.02-1.93-.28a2.24 2.24 0 0 1-.92-1.26 2.95 2.95 0 0 1 0-1.6c.18-.55.52-1.03 1.03-1.43.52-.4 1.2-.64 2.02-.72 1.09-.12 2.19-.09 3.3.09 1.12.15 2.13.39 3.03.72 1.56.56 2.83 1.3 3.82 2.23a6.72 6.72 0 0 1 2.02 3.1 5.4 5.4 0 0 1-.16 3.48 6.44 6.44 0 0 1-1 1.81 6.52 6.52 0 0 1-1.64 1.44c-.65.4-1.5.75-2.52 1.04-.89.26-1.6.53-2.13.8a4.7 4.7 0 0 0-1.25.8c-.29.3-.56.65-.8 1.05-.22.33-.53.56-.91.7-.38.12-.84.08-1.4-.13Zm-3.04 8.05a3.55 3.55 0 0 1-2.14-1.81 3.53 3.53 0 0 1 0-2.72c.35-.97.92-1.64 1.72-2.02.83-.38 1.77-.39 2.8-.01 1.04.38 1.74.98 2.1 1.8.38.8.4 1.68.04 2.65-.36 1-.95 1.69-1.75 2.09-.81.4-1.74.4-2.77.02Z"/>
    </svg>
</template>