<template>
    <svg viewBox="0 0 30 17" fill="none">
        <path fill="#fff" d="M29.32 1.3c-.33 1.13-.79 2.1-1.35 3-.56.98-1.22 2.12-2 3.41a38.61 38.61 0 0 1-1.05 1.6c-.18.23-.3.51-.34.82v.01c.04.28.16.53.34.71l.5.6c2.67 2.92 4.18 4.94 4.51 6.05a1.24 1.24 0 0 1-.14 1.1 1.17 1.17 0 0 1-.98.38h-3.28c-.43 0-.82-.16-1.12-.42-.44-.38-.83-.8-1.18-1.26l-.02-.01c-.57-.7-1.08-1.28-1.53-1.75-1.48-1.5-2.58-2.26-3.29-2.26h-.08c-.21 0-.4.07-.56.18a1.06 1.06 0 0 0-.2.78 17.73 17.73 0 0 0-.05 1.86v1.52a1.08 1.08 0 0 1-.33 1 3.77 3.77 0 0 1-2 .36 9.96 9.96 0 0 1-5.35-1.68l.04.02a15.36 15.36 0 0 1-4.64-4.69l-.04-.05A35.51 35.51 0 0 1 2.1 7.27l-.08-.2A33.9 33.9 0 0 1 .47 3.33l-.08-.25C.19 2.49.06 1.78 0 1.05V1c0-.67.37-1 1.12-1H4.5a1.27 1.27 0 0 1 .82.3c.26.29.44.64.53 1.04v.02c.61 1.82 1.25 3.34 1.99 4.8L7.76 6c.6 1.3 1.26 2.4 2.02 3.43l-.02-.04c.66.87 1.5.6 1.5.6s.7-.15.67-.6V1a1 1 0 0 1 1-1h3.58a1 1 0 0 1 1 1V8.19c0 .46.11 1.6 1.17.8.34-.25.63-.53.89-.85v-.01c.76-.91 1.46-1.92 2.07-3l.05-.09A30 30 0 0 0 23 2.4l.07-.2.56-1.18a1.41 1.41 0 0 1 1.4-1h3.28c.9 0 1.22.43 1 1.3Z"/>
    </svg>
</template>